{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}

* {
    box-sizing: border-box;
}

/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}
</style>
</head>
<body>

<form action="/updated/" method="POST" onsubmit="qwe()">{% csrf_token %}
  <div class="container">
    <h1>Register</h1>
    <p>Please fill in this form to create an account.</p>
    <hr>

    <label for="email">Email</label>
    <input type="text" class="form-control" id="email" placeholder="Type your email" name="email" pattern="(\w+?@\w+?\x2E.+)" title=" Please enter corret email!!" value="" required>
<!-- <input type="email" placeholder={{update.email}} name="uname" required> -->

    <label for="password">Password</label>
    <input type="text" class="form-control" id="password" placeholder="Type your password" name="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" value="" required="true">
    

    <button type="submit" class="registerbtn" >Register</button>
  </div>
  
  <div class="container signin">
    <p>Already have an account? <a href="updated/">Sign in</a>.</p>
  </div>
</form>
<script type="text/javascript">
function qwe()
{
if (typeof(Storage) !== "undefined") {
    // Store
    localStorage.setItem("userId", document.getElementById("email").value);
    
} else {
    alert("undefined")
}
}
</script>
<script>
    fetch('/log/', {
    method: 'POST',
    body: JSON.stringify({
      email: document.getElementById("email").value,
      password: document.getElementById("password").value,
      userId: 1
    }),
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  })
  .then(response => response.json())
  .then(json => console.log(json))
</script>
<script type="text/javascript" src="{% static 'admin/js/try.js' %}"></script>
</body>
</html>
